body {
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Fredoka One', cursive;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}
