.contenido {
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.listad-noticias {
    width: 700px;
    float: left;
}

.noticia {
    width: 210px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.noticias-destacadas {
    margin-bottom: 50px;
}

.noticias-destacadas img {
    width: 220px;
    height: 200px;
}
