* {
    box-sizing: border-box;
}
.nav {
    display: inline-block;
    width: 840px;
    text-align: right;
}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.contenedor {
    width: 960px;
    margin: 0 auto;
}

.menu {
    width: 960px;
    padding: 10px;
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.input-menu {
    border-radius: 30px;
}

.cuerpo img {
    width: 210px;
    height: 300px;
}

.cuerpo p {
    padding: 5px 10px;
}

.texto-derecho {
    width: 220px;
    float: right;
}
.infonosostros {
    width: 220px;
    border-bottom: 1px solid gray;
}

.tags {
    border-bottom: 1px solid gray;
}

.tags ul {
    padding: 0;
    list-style: none;
}

.tags ul li {
    padding: 2px 4px;
    background-color: $colortag;
    margin-right: 1px;
    color: $colorblanco;
}

.newsletter {
    width: 700px;
    background-color: $colorback;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.newsletter h2 {
    font-size: 24px
}

.footer {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-left: -20px;
}

.mover {
  margin-top: -320px;
}
